.header {
  display: grid;
  grid-template-columns: 459px 1fr 450px;
  padding: 96px 30px 92px 22px;
}

.header__menu {
  justify-self: left;
  align-self: center;
  font-size: 18px;
  line-height: 20px;
  padding-left: 28px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;  
}

.header__links-list-item {
  list-style: circle;  
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 5px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  place-self: center;
  width: 137px;
  height: 109px;
}

.address {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-underline-offset: 5px;
}

.header__address {
  justify-self: end;
  align-self: center;
  padding-right: 22px;
}

.cover {
  background: url(/images/cover.jpg) center / cover;
  color: #fff;
}

.overlay {
  display: block;
  position: relative;
  width: 1100px;
  height: 757px;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.cover__title {
  display: block;
  position: absolute;  
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  position: center;
}

.aligned-text_right {
  position: ;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description

.cover__description-text

.bet-button

